body{
  overflow-x: hidden;
}

body nav main {
  display: grid;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: #d3b5ab;
  font-weight: bold;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  font-weight: bold;
}

#sidebar a,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar a span {
  flex-grow: 1;
}

.content {
  margin-top: -920px;
  margin-left: 250px;
  background-color: #f0e5df;
  height: 100%;
  width: calc(100vw - 250px);
  overflow: hidden;
}

.topvar {
  background-color: #f3cdcc;
  height: 75px;
  align-items: center;
}

.lists {
  padding: 50px;
  height: 800px;
  background-color: #f0e5df;
  overflow-y: auto;
}

.order_details div {
  white-space: nowrap;  
  overflow:hidden;
  text-overflow: ellipsis; 
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.order_details{
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: right;
}

.product_details div {
  overflow:hidden;
  text-overflow: ellipsis; 
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.product_details{
  white-space: nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: right;
}



.feedback_details div {
  white-space: nowrap; 
  overflow:hidden;
  text-overflow: ellipsis; 
  max-width: 200px;
  width: 100%;
  height: 100%;
}

.feedback_details{
  justify-content: space-around;
  text-align: right;
}

#fb{
  color: blue;
  white-space: normal;
}

.account_details div {
  white-space: nowrap; 
  overflow:hidden;
  text-overflow: ellipsis; 
  max-width: 150px;
  width: 100%;
  height: 100%;
  }

.account_details{
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: right;
}

.search {
  justify-content: space-around;
}

.bar {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border-color: #f0e5df;
  outline: none;
  margin-left: -200px;
}

.bar:focus {
  border-color: #f0e5df;
}

.admin {
  font-size: 25px;
}

.admin a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-left: 75px;
}

.logo {
  font-size: 36px;
  text-align: center;
  font-family: garamond;
}

ul span {
  justify-content: center;
  align-items: center;
}

ul a {
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: #f3cdcc;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.line {
  margin-top: 10px;
}

.logout {
  background-color: #b06f69;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.logout:hover {
  background-color: #f3cdcc;
  color: black;
}

.order button {
  background-color: #b06f69;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.order button:hover {
  background-color: #f3cdcc;
  color: black;
}

.customer button {
  background-color: #b06f69;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: -100px;
}

.customer button:hover {
  background-color: #f3cdcc;
  color: black;
}

.feedback button {
  background-color: #b06f69;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: -100px;
}

.feedback button:hover {
  background-color: #f3cdcc;
  color: black;
}

.product button {
  background-color: #b06f69;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 67px;
  height: 50px;
  border-radius: 10px;
}

.product button:hover {
  background-color: #f3cdcc;
  color: black;
}

.account_details,
.order_details,
.feedback_details,
.product_details {
  width: 10%h;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;
  padding: 10px 0;
}

.customer,
.order,
.product,
.feedback {
  text-align: left;
  font-size: 20px;
}

.customer .order .product .feedback p {
  text-align: center;
}


.product_details strong {
  text-align: left;
}

.container .notif2 {
  font-family: rokkit;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  z-index: 5;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F3CDCC;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}



.notif_btn2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 200px;
}

.btn2{
  justify-content: center; 
  align-items: center; 
  
}


.notif_btn2 button {
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .btn2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  }
  
  .btn2:active {
  transform: scale(0.95);
  }

#feedback{
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  vertical-align: top;
}

.guest_account {
  margin-top: 100px;
  width: 50%;
}

.guest_details {
  display: flex;
  justify-content: space-between;  
}

.guestname, .email {
  flex: 1;
  padding: 10px;
}

.email {
  padding-left: 10px; 
}

