
.wrapper {
  padding: 10px 10px;
  background: rgba(243, 205, 204, 0.4);
  color: #b06f69;
  margin-top: 5%;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: #b06f69;
}
.placehd {
  padding: 5px;
  max-height: 345px;
  overflow-y: scroll;
}

#img_cont{
  width: 100px;
  margin-left: 20px;
}
.item-cart img{
    max-width: 100px;
    
}


.item-cart{
  display: flex;
    align-items: center; 
   
    justify-content: center;
}

#qtty_cont{

  margin-left: 25px;
  width: 100px;
}
#quantity-controls{

    max-width: 100px;
}


.cart-header {

  display: flex;
  font-size: 25px;
  font-weight: bold;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 50px;

}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-radius: 20px;
  margin-top: 10px;
 
}

.header-items {
  margin-left: 50px;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #b06f69;
}

#product_cont{
  width: 300px;
  margin-left: 25px;
}
.product_cont{
  width: 300px;
}

#product-name {
  font-size: 30px;
  max-width: 250px;
  overflow: hidden;
 
  white-space: nowrap;
  text-overflow: ellipsis;
 

  text-align: left;
  margin: 0 auto;

  direction: ltr;
}

#price_cont,
#sub_cont {
  font-size: 25px;
}
#price_cont{
  margin-right: 20px;
}
#sub_cont{
  margin-right: -20px;
}

.price,
.subtotal {
  font-size: 25px;
}

.remove,
.checkout-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #b06f69;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.remove:hover {
  background-color: rgb(241, 193, 191);
  color: black;
}

.cart-summary {
  text-align: center;
}

.cart-summary p {
  font-size: 30px;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: rgb(241, 193, 191);
  color: black;
}

.checkout-form {
  margin-top: 20px;
  background: #f0e5dfff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.checkout-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(243, 205, 204);
  color: #944f49;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-form button:hover {
  background-color: rgb(241, 193, 191);
}

.checkout-form #cancel-btn {
  background-color: #b06f69;
  color: white;
}

.checkout-form #cancel-btn:hover {
  background-color: #944f49;
  color: white;
}


.container .notif {
  font-family: rokkit;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  justify-content: center;
  align-items: center;
  background-color: #F3CDCC;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.notif_text{
  margin-top: 15%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 1%;
}


.notif_btn {
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}

.notif_btn button {
  width: 100px;
  height: 50px;
  align-items: center;
    justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  }
  
  .btn:active {
  transform: scale(0.95);
  }


.container .notif2 {
  font-family: rokkit;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  justify-content: center;
  align-items: center;
  background-color: #F3CDCC;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.notif_text2{
  margin-top: 15%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 1%;
}


.notif_btn2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}


.notif_btn2 button {
  width: 100px;
  height: 50px;
  align-items: center;
    justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .btn2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  }
  
  .btn2:active {
  transform: scale(0.95);
  }
  

  .container .notif3 {
    font-family: rokkit;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    background-color: #F3CDCC;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .notif_text3{
    margin-top: 30%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
  }
  
  
  .notif_btn3{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  
  .notif_btn3 button {
    width: 100px;
    height: 50px;
    align-items: center;
      justify-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    .btn3:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    }
    
    .btn3:active {
    transform: scale(0.95);
    }

    
    
  



@font-face {
  font-family: garamond;
  src: url(FONTS/Garamond.ttf);
}

@font-face {
  font-family: hind;
  src: url(FONTS/Hind.ttf);
}

@font-face {
  font-family: inter;
  src: url(FONTS/Inter.ttf);
}

@font-face {
  font-family: playfairdisplay;
  src: url(FONTS/PlayfairDisplay.ttf);
}

@font-face {
  font-family: publicsans;
  src: url(FONTS/PublicSans.ttf);
}

@font-face {
  font-family: rokkit;
  src: url(FONTS/Rokkitt.ttf);
}


body {
  background-color: #f0e5df;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: #f0e5df;
  border-bottom: solid 1px black;
  width: 100%;
}

.text {
  font-family: garamond;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.text:hover {
  cursor: pointer;
}

#name2 {
  font-size: 20px;
}

#name1 {
  font-size: 35px;
}
.image {
  margin-right: -75px;
}

.image:hover {
  cursor: pointer;
}

.icons a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}

.icons a:hover {
  text-decoration: underline;
  color: #b06f69;
}

.menus a {
  font-family: rokkit;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menus a:hover {
  text-decoration: underline;
}

.menus {
  justify-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.searchbar {
  width: 0px;
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

.search:hover > .searchbar {
  width: 150px;
  border-bottom: solid 1px black;
}

.searchbar:focus::placeholder {
  color: transparent;
}

.searchbar:focus {
  border-bottom: solid 1px black;
  outline: none;
}


.footer a {
  color: black;
  text-decoration: none;
}
.footer {
  font-family: inter;
  padding-top: 2%;
  position: relative;
  z-index: 3;
  background-color: #f3cdcc;
  font-size: 20px;
  margin-top: 50px;
}

.footer-info {
  width: 100%;
  justify-content: space-evenly;
}

.signup {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 20%;
}

.shopnow {
  font-family: rokkit;
  border: none;
  background-color: #f0e5df;
  border-radius: 10px;
  font-size: 30px;
  height: 50px;
  width: 200px;
}

.shopnow:hover {
  background-color: #b06f69;
  color: white;
}

.line {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 1px;
  background-color: black;
}

.credits {
  padding: 1%;
  text-align: center;
}

.contact {
  font-weight: bold;
}

.container .footer-info {
  padding-bottom: 1%;
}

.cta button {
  font-family: rokkit;
  background-color: #f0e5df;
  border-radius: 10px;
  font-size: 30px;
  border: none;
  width: 200px;
  height: 50px;
}

.cta button:hover {
  background-color: #b06f69;
  color: white;
}
