
.checkout-form {
    margin-top: 20px;
    background: #f0e5dfff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .checkout-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkout-form button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(243, 205, 204);
    color: #944f49;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkout-form button:hover {
    background-color: rgb(241, 193, 191);
  }
  
  .checkout-form #cancel-btn {
    background-color: #b06f69;
    color: white;
  }
  
  .checkout-form #cancel-btn:hover {
    background-color: #944f49;
    color: white;
  }

  .container .kulang {
    font-family: rokkit;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    background-color: #F3CDCC;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .notif_text2{
    margin-top: 15%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
  }
  
  
  .kulang_btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .kulang_btn button {
  width: 100px;
  height: 50px;
  align-items: center;
    justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  }
  
  .btn:active {
  transform: scale(0.95);
  }

  .container .notif3 {
    font-family: rokkit;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    background-color: #F3CDCC;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .notif_text3{
    margin-top: 30%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
  }
  
  
  .notif_btn3{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  
  .notif_btn3 button {
    width: 100px;
    height: 50px;
    align-items: center;
      justify-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    .btn3:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }
    
    .btn3:active {
    transform: scale(0.95);
    }