body{
    overflow: hidden ;
}

.cover {
    background-image: url('IMAGES/womensperfume/mainimage.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: absolute;
    width: 100%; 
    height: 1000px; 
    z-index: -1;
}

 .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center
    
} 

.wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 65vh;
    width: 60vh;
    border: 2px solid rgba(176, 111, 105, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    background-color: transparent;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
}

.wrapper.active-popup{
    transform: scale(1);
}   


.wrapper.active{
    height: 80vh;
}

.wrapper .bg.login{
   transition: transform .5s ease;
   transform: translateX(0);
} 

.wrapper.active .bg.login{
    transition: none;
    transform: translateX(-60vh);
} 

.wrapper .bg.register{
    position: absolute;
    transition: none;
    transform: translateX(60vh);
}

.wrapper.active .bg.register{
    transition: transform .5s ease;
    transform: translateX(0);
}



.wrapper .bg{
    width: 100%;
    padding: 40px;
}




.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #B06F69;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}



.bg h2{
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    /* color: red; */
}

.input-box label .error{
    color: red;
    display: none;
}



/* .input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}  */



.input-box label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1em;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

/* .g-recaptcha{
    width: 50%;
} */
.wrapper .btn{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background-color: #B06F69;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
}

.wrapper .btn:hover{
    height: 45px;
    background-color: #B06F69;
}

.login-register{
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0px 25px;
}

.login-register a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.login-register a:hover{

    text-decoration: underline;

}

.name{
    width: 100%;
    gap: 50px;
}

.name.d-flex {
    display: flex;
    gap: 20px; /* Equal gap between fields */
}

.g-recaptcha{
    transform: scale(.70);
    transform-origin: left;
    width: 50%;
    margin-right: 50px;
}

