/* * {
  outline: auto;
} */
body{
    background-color: #F0E5DF;
}

a{
    color: black;
    text-decoration: none;
}

/* Header */
.navbar{
    background-color: #F0E5DF;
    border-bottom: solid 1px black;
    position: fixed;
    width: 100%;

}


.text{
    font-family: garamond;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.text:hover{
    cursor: pointer;
}

#name2{
    font-size: 20px;
}

#name1{
    font-size: 35px;
}
.image{
    margin-right: -30px;
}

.image:hover{
    cursor: pointer;
}

.icons a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}


.icons a:hover{
    text-decoration: underline;
    color: #B06F69;
}



.menus a{
    font-family: rokkit;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menus a:hover{
    text-decoration: underline;
}

.menus{
    
    justify-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

/* there is something wrong with the search bar line*/

.searchbar{
    width: 0px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

.search:hover >.searchbar{
    width: 150px;
    border-bottom: solid 1px black;
}

.searchbar:focus::placeholder{
    color: transparent;
}

.searchbar:focus{
    border-bottom: solid 1px black;
    outline: none;
}
.cover {
    /* background-image: url("IMAGES/womensperfume/mainimage.png");  */
    background-image: url("IMAGES/womensperfume/mainimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: -1;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  
  .wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 90vh;
    width: 60vh;
    border: 2px solid rgba(176, 111, 105, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, height 0.2s ease;
    margin-bottom: 200px;
  }
  
  .wrapper .bg {
    width: 100%;
    padding: 20px;
  }
  
  .wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #b06f69;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .bg h2 {
    font-size: 2em;
    text-align: center;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
    /* color: red; */
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
    /* color: red; */
  }
  
  
  
  .input-box label {
    top: -5px;
    /* color: red; */
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
    /* color: red; */
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1em;
    line-height: 57px;
    /* color: red; */
  }
  
  .remember-forgot {
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  
  .remember-forgot label input {
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: black;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  /* .g-recaptcha{
      width: 50%;
  } */
  .wrapper .btn {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background-color: #b06f69;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
  }
  
  .wrapper .btn:hover {
    height: 45px;
    background-color: #b06f69;
  }
  
  .login-register {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    margin: 25px 0px 25px;
  }
  
  .login-register a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  .login-register a:hover {
    text-decoration: underline;
  }
  
  .name {
    width: 100%;
    gap: 50px;
  }
  
  .name.d-flex {
    display: flex;
    gap: 20px; /* Equal gap between fields */
  }
  
  .g-recaptcha {
    transform: scale(0.7);
    transform-origin: left;
    width: 50%;
    margin-right: 50px;
  }
  
  .container .notif {
    font-family: rokkit;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    background-color: #F3CDCC;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.notif_text{

    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
}


.notif_btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.notif_btn button {
  width: 100px;
  height: 50px;
  align-items: center;
    justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}
