@font-face {
    font-family: garamond;
    src: url(FONTS/Garamond.ttf);
}

@font-face {
    font-family: hind;
    src: url(FONTS/Hind.ttf);
}

@font-face {
    font-family: inter;
    src: url(FONTS/Inter.ttf);
}

@font-face {
    font-family: playfairdisplay;
    src: url(FONTS/PlayfairDisplay.ttf);
}

@font-face {
    font-family: publicsans;
    src: url(FONTS/PublicSans.ttf);
}

@font-face {
    font-family: rokkit;
    src: url(FONTS/Rokkitt.ttf);
}


body{
    background-color: #F0E5DF;
}

a{
    color: black;
    text-decoration: none;
}
.navbar{
    background-color: transparent;
    border-bottom: solid 1px black;
    position: fixed;
    width: 100%;
}


.text{
    font-family: garamond;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.text:hover{
    cursor: pointer;
}

#name2{
    font-size: 20px;
}

#name1{
    font-size: 35px;
}
.image{
    margin-right: -20px;
}

.image:hover{
    cursor: pointer;
}

.icons a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}


.icons a:hover{
    text-decoration: underline;
    color: #B06F69;
}



.menus a{
    font-family: rokkit;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menus a:hover{
    text-decoration: underline;
}

.menus{
    
    justify-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

/* there is something wrong with the search bar line*/

.searchbar{
    width: 0px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

.search:hover >.searchbar{
    width: 150px;
    border-bottom: solid 1px black;
}

.searchbar:focus::placeholder{
    color: transparent;
}

.searchbar:focus{
    border-bottom: solid 1px black;
    outline: none;
}


.cover {
    background-image: url('IMAGES/womensperfume/mainimage.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    width: 100%; 
    height: 1000px; 
}


.about {
    align-items: center; 
    justify-content: flex-end;
    position: fixed; 
    right: 0;
    top: 35%;
    width: 30%;
    margin-right: 15%;
    text-align: justify;
    font-family: rokkit;
    z-index: 1;
} 

.abtus{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.desc{
    font-size: 24px;
}

.btnholder{
    padding-top: 20px;
}
.discoverbtn{
    width: 200px;
    border-radius: 30px;
    font-size: 25px;
    background-color: #F3CDCC;
}
/* dating hover B06F69
    dating default F3CDCC */
.discoverbtn:hover{
    background-color: #B06F69;
    color: white;
}

.bestsellingcontainer{
    position: relative;
    height: 800px;
    z-index: 2;
    background-color: #F0E5DF;
}

.itemcont{
    font-size: 36px;
    text-align: center;
    font-family: garamond;
}

.itemcont:hover{
    cursor: pointer;
}

.itemcont2{
    font-size: 36px;
    text-align: center;
    font-family: garamond;
    
}

.itemcont2:hover{
    cursor: pointer;
}


.addtobag{
    background-color:#D3B5AB;
    border-radius: 10px;
    border: none;
}


.info{
    font-family: rokkit;
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 50%;
    font-size: 64px;
    font-weight: bold;
    width: 100%;
}

.topfavorite{
    position: relative;
    z-index: 2;
    height: 100px;
    background-color: #F3CDCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite{
    font-size: 74px;
    font-family: rokkit;
}

.favoritesec{
    position: relative;
    z-index: 2;
    height: 800px;
    background-color: #F0E5DF;
}

.addtobag:hover{
    background-color: #F3CDCC;
    color: black;
}


.favoritesec{
    justify-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.items{
    box-shadow: 0 0 10px 2px #B06F69;
    position: absolute;
    transition: 0.8s;
    top: 12%;
    cursor: pointer;
}

.items .perfumename{
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-family: garamond;
}

.items .perfumeprice{
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: garamond;
}

.items img{
    border-radius: 50px;
}

#prev, #next{
    position: absolute;
    width: 100px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    top: 45%;
}

#prev{
    left: 10%;
}

#next{
    right: 10%;
}

.perfumelist{
    position: relative;
    background-color: #F3CDCC;
    z-index: 2;
    text-align: center;
    font-size: 74px;
    font-family: rokkit;
}

.featureditems{
    position: relative;
    z-index: 2;
    background-color: #F0E5DF;
    height: 2500px;
    font-family: garamond;
}

.grid-container .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-template-rows: 30% 30% 30%;
    width: 100%;
    height: 100%;
}

.grid-container div {
    font-size: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;   
}



.explore{
    position: relative;
    z-index: 3;
    margin-top: -10%;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 3%;
    font-family: rokkit;

}


.line{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 1px; 
    background-color: black;
}


.mtt{
    position: relative;
    z-index: 3;
    background-color: #F0E5DF;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 70px;
    font-family: hind;
}

.mtt-container{
    font-family: hind;
    position: relative;
    z-index: 3;
    background-color: #F0E5DF;
    padding-bottom: 3%;
    
}

.mtt-container .container{
    padding-top: 3%;
    justify-content: space-between;
    
}

.member img{
    border-radius: 10%;
}

.name{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.role{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}

.help{
    position: relative;
    z-index: 3;
    background-color: #F0E5DF;
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 50px;
    font-family: publicsans;
}
.contact-form-container{
    position: relative;
    z-index: 3;
    background-color: #F0E5DF;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-form{
    position: relative;
    z-index: 3;
    background-color: white;
    height: 700px;
    width: 760px;
    border-radius: 10px;
    font-size: 24px;
    padding: 25px;
    padding-top: 30px;
    align-items: center;
}

#name, #email{
    border-radius: 10px;
    width: 100%;
    height: 100px;
    background-color: #F3CDCC;
    border: none;
}

#tarea{
    border-radius: 10px;
    width: 100%;
    background-color: #F3CDCC;
    border: none;
}

#name::placeholder, #email::placeholder, #tarea::placeholder{
    padding: 10px;
}

.inputs{
    margin-bottom: 3%;
}

.send{
    background-color: #F3CDCC;
    border-radius: 10px;
    border: none;
    height: 75px;
    width: 200px;
}

.send:hover{
    background-color: #B06F69;
    color: white;
}

.buttoncontainer{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer{
    font-family: inter;
    padding-top: 2%;
    position: relative;
    z-index: 3;
    background-color:#F3CDCC;
    font-size: 20px;
}

.footer-info{
    width: 100%;
    justify-content: space-evenly;
}

.signup{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 20%;
}

.shopnow{
    font-family: rokkit;
    border: none;
    background-color: #F0E5DF;
    border-radius: 10px;
    font-size: 30px;
    height: 50px;
    width: 200px;
}

.shopnow:hover{
    background-color: #B06F69;
    color: white;
}

.credits{
    padding: 1%;
    text-align: center;
}

.contact{
    font-weight: bold;
}

.container .footer-info{
    padding-bottom: 1%;
}

.cta button{
    font-family: rokkit;
    background-color: #F0E5DF;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    width: 200px;
    height: 50px;
}

.cta button:hover{
    background-color: #B06F69;
    color: white;
}

@keyframes appear {
    from{
        opacity: 1;
        transform: translateX(-200px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

#item1, #item3, #item5{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes appear2 {
    from{
        opacity: 0;
        transform: translateX(200px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

#item2, #item4, #item6{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}


.container .notif {
    font-family: rokkit;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 5;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 70%); 

    top:0px;

    justify-content: center;
    align-items: center;
    background-color: #F3CDCC;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.notif_text{
    margin-top: 25%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
}


.notif_btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.notif_btn button {
  width: 100px;
  height: 50px;
  align-items: center;
    justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}